*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: space-around; /* Répartit les éléments */
    padding: 0 20px;
}

header img{
    width: 80px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1; /* Permet à la liste de prendre l'espace disponible */
}

main {
    flex-grow: 1; 
    background-color: beige;
}


footer{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}