*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: space-around; /* Répartit les éléments */
    padding: 0 20px;
}

header img{
    width: 80px;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1; /* Permet à la liste de prendre l'espace disponible */
}

main {
    flex-grow: 1; 
    background-color: beige;
}


footer{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #007BFF;
    color: white;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

img {
    max-width: 80px;
    height: auto;
    border-radius: 5px;
}
